@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 4.9% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  * {
    @apply scroll-smooth border-border;
  }
  body {
    @apply bg-[hsl(var(--sidebar-background))] text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  .dark .apexcharts-text {
    @apply fill-primary;
  }

  .dark .apexcharts-tooltip {
    @apply rounded-lg !border-border !bg-card !text-primary;
  }

  .dark .apexcharts-tooltip-title {
    @apply !border-border !bg-border !text-primary;
  }

  .dark .apexcharts-legend-text {
    @apply !text-primary;
  }
}


html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  /*
    Uncomment the line below if you want to use the background providede by the theme you choose.
    You will also need to remobve the bg classes for the .shiki class.
  */
  /* background-color: var(--shiki-dark-bg) !important; */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

/* Base styles for all code blocks thruout the app */
code {
  counter-reset: codeStep;
  counter-increment: codeStep 0;
  direction: ltr;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  @apply hyphens-none whitespace-pre-wrap ligatures-normal;
}

/* Highlighted code blocks */
.shiki {
  @apply relative overflow-x-auto whitespace-pre rounded-lg border border-border !bg-background py-6;
}

.line-numbers .line::before {
  content: counter(codeStep);
  counter-increment: codeStep;
  font-variant-numeric: tabular-nums;
  @apply inline-block w-6 text-left text-primary;
}

/* For regular code blocks */
pre > code .line {
  @apply relative inline-block w-full px-6;
}

code:not(pre > code) {
  @apply relative rounded bg-primary text-primary-foreground px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

/* For highlighted lines */
.diff.remove {
  @apply bg-red-600/20 after:absolute after:left-2 after:top-1/2 after:-translate-y-1/2 after:text-red-600 after:content-['-'];
}

.diff.add {
  @apply bg-green-600/20 after:absolute after:left-2 after:top-1/2 after:-translate-y-1/2 after:text-green-600 after:content-['+'];
}

.highlighted {
  @apply bg-primary/20 after:absolute after:left-0 after:h-full after:w-[2px] after:bg-primary;
}


.message h1 {
  @apply mt-0 mb-2 font-bold text-3xl;
}

.message h2 {
  @apply mt-0 mb-2 font-bold text-3xl;
}

.message h3 {
  @apply mb-2 mt-0 font-bold text-2xl;
}

.message h4 {
  @apply mt-0 mb-2 font-bold text-xl;
}

.message h5 {
  @apply mb-2 mt-0 font-bold text-lg;
}
.message p:not(:last-child){
  @apply m-0 mb-4
}
/* Table */
.message table thead {
  @apply bg-secondary;
}
.message table th {
  @apply border-b p-4 pb-3 pl-8 text-left font-medium text-muted-foreground;
}
.message table td {
  @apply border-b border-border p-4 pl-8 text-primary;
}

/* Lists */
.message ul:not(ul.tree, .commands ul, .collapsible-details ul, .collapsible-details ol, .demo ul),
.message ol {
  @apply ml-6 list-disc [&>li]:mt-2;
}
.message ol:not(.steps) > li {
  @apply list-decimal;
}

.message blockquote {
  @apply border-l-4 border-primary pl-4 py-2 my-4;
}
